<!DOCTYPE html>
<html>
<head>
    <title>My First Webpage</title>
    <style>
        body {
            text-align: center;
        }
        button {
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Email Spam Classifier</h1>
    <form method="post" action = "predict">
        <textarea name = "email-content" placeholder="Enter your Email" rows="25" cols = "35" autocomplete="off">{{ email }}</textarea>
        <div>
            <button type = "submit">Check Spam</button>
        <a href="/">Reset</a>
        </div>
    </form>

    {% if prediction == 1  %}
    <h2 style="color: red;">spam</h2>
    {% elif prediction == -1  %}
    <h2 style="color: green;">not spam</h2>
    {% endif %}

</body>
</html>